@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.container {
    width: 1280px;
    margin: 0 auto;
}


/* Header */

.header {
    margin-bottom: 49px;
}

.header__logo {
    margin-top: 24px;
    font-size: 80px;
    line-height: 1.75;
}

.logo__black__side {
    color: #000000;
}

.logo__blue__side {
    color: #4BCAFF;
}

.header__menu {
    height: 69px;
    background-color: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__list__link {
    padding: 20px 35px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.17;
    border-left: 1px solid #FFFFFF;
    transition: 1s;
}

.last__link {
    border-right: 1px solid #FFFFFF;
}

.header__list__link:hover {
    background-color: #222F3A;
}


/* Main */

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar__menu {
    width: 344px;
    border: 1px solid #000000;
}

.sidebar__list__link {
    padding: 25px 44px 25px;
    display: block;
    font-size: 27px;
    line-height: 1;
    color: #485863;
    transition: 1s;
}

.sidebar__list__link:hover {
    color: #35444F;
    padding-left: 70px;
    background: #DBDBDB;
}

.content {
    width: 885px;
    margin-bottom: 20px;
}

.content__img__wrapper {
    width: 100%;
    height: 529px;
    margin-bottom: 37px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__img {
    height: 381px;
    width: 320px;
    transition: 1s;
}

.content__img:hover {
    height: 438px;
    width: 368px;
}

.content__text > p{
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 1.33;
}


/* Footer */

.footer {
    height: 69px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(99, 105, 110, 0.48);
    font-size: 28px;
    line-height: 1;
    color: #0C1927;
}

.footer__list {
    display: flex;
}


.footer__list__item {
    padding-bottom: 7px; /*Зроблено для того, що б підчоркування при наведенні курсору було нижче, аналогічно макету*/
    margin-right: 28px;
    transition: 1s;
}

.footer__list__item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}